.modal-container {
    .modal-body {
        .login-input {
            .custom-input-password {
                position: relative;
                .hide-show-password {
                    position: absolute;
                    top: 50%;
                    right: 0;
                    width: 28px;
                    transform: translateY(-50%);
                    text-align: center;
                    cursor: pointer;
                }
            }
        }
    }
}